.falconsButton {
  width: 110px;
  height:105px;
  background-image: url("https://media-exp1.licdn.com/dms/image/C560BAQECGGTLKQC1sQ/company-logo_100_100/0?e=2159024400&v=beta&t=LEc4KT-hJQRVd-mIy7ANXHl8SfedQ7Fk4GyCdmN1ciU");
}

.cardinalsButton {
  width: 110px;
  height:105px;
  background-image: url("https://a.espncdn.com/combiner/i?img=/i/teamlogos/nfl/500/ari.png&w=100&h=100&transparent=true");
}

.billsButton {
  width: 110px;
  height:105px;
  background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/giphcy6ie9mxbnldntsf");
}

/* Banners for team pages */
.falconsBanner{
  margin:auto;
  width:500px;
  height: 200px;
  background-image: url("https://nhrdez.files.wordpress.com/2013/05/atlanta_falcons.jpg?w=640");
}

.billsBanner{
  margin:auto;
  width:500px;
  height: 200px;
  background-image: url("https://i.pinimg.com/originals/aa/d2/d2/aad2d2d6e9198ea496ac9f64fd069a0a.jpg");
}

.billsContainer{
  display: flex;
  flex-direction: center;
}

.billsTeamInfo{
  margin: 40px;;
}

.falconsTeamInfo{
  margin: 40px;;
}

.teamFeed{
  width:600px;
  height: 500px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  float: center;
}